{% extends 'default2.html' %}

{% block content %}
{% for board in board_list %}

<div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
    <div class="card-body p-0 d-flex">
        <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image"
                class="shadow-sm rounded-circle w45"></figure>
        {% comment %} user id {% endcomment %}
        <h4 class="fw-700 text-grey-900 font-xssss mt-1">{{board.userid}}<span
                class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">{{board.cre_date}}</span></h4>
        <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
        <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
            <div class="card-body p-0 d-flex">
                <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span
                        class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span>
                </h4>
            </div>
            <div class="card-body p-0 d-flex mt-2">
                <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Hide Post <span
                        class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
            </div>

        </div>
    </div>
    <div class="card-body p-0 me-lg-5">
        <p class="fw-500 text-grey-500 lh-26 font-xssss w-100"> {{board.content}} <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
    </div>

    <div class="card-body d-flex p-0 mt-3">
        <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2"><i
                class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i
                class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>

        <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                class="d-none-xss">22 Comment</span></a>

    </div>
</div>
{% endfor %}

{% endblock %}

{% comment %} <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
    <div class="card-body p-0 d-flex">
        <figure class="avatar me-3"><img src="https://via.placeholder.com/50x50.png" alt="image"
                class="shadow-sm rounded-circle w45"></figure>
        <h4 class="fw-700 text-grey-900 font-xssss mt-1">Surfiya Zakir <span
                class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">3 hour ago</span></h4>
        <a href="#" class="ms-auto" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><i
                class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i></a>
        <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg" aria-labelledby="dropdownMenu2">
            <div class="card-body p-0 d-flex">
                <i class="feather-bookmark text-grey-500 me-3 font-lg"></i>
                <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Save Link <span
                        class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Add this to your saved items</span>
                </h4>
            </div>
            <div class="card-body p-0 d-flex mt-2">
                <i class="feather-alert-circle text-grey-500 me-3 font-lg"></i>
                <h4 class="fw-600 text-grey-900 font-xssss mt-0 me-4">Hide Post <span
                        class="d-block font-xsssss fw-500 mt-1 lh-3 text-grey-500">Save to your saved items</span></h4>
            </div>

        </div>
    </div>
    <div class="card-body p-0 me-lg-5">
        <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">blockblockblockblockblockblockblockblockblockblockblock <a href="#" class="fw-600 text-primary ms-2">See more</a></p>
    </div>

    <div class="card-body d-flex p-0 mt-3">
        <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2"><i
                class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> <i
                class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i>2.8K Like</a>

        <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss"><i
                class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i><span
                class="d-none-xss">22 Comment</span></a>

    </div>
</div> {% endcomment %}